.BusinessList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  max-width: 1080px;
  margin: 1rem auto 0;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 700px) {
  .BusinessList {
    grid-template-columns: 1fr;
  }
}
